/*wuchendi*/

body,ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,input,textarea,select{ padding: 0; margin: 0; font-family: "微软雅黑";}
a:hover{ text-decoration: none;}
li{list-style: none;}
img{ border: none;}
body{ margin: 0; font-family: "arial","微软黑体";}
.header{ background-color: #f5f5f5;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

.clear:after{content: "";display: block; height: 0; clear: both;visibility: hidden; overflow: hidden;}
.clear{zoom: 1;}

/*top*/
#top{width: 100%; height:100px ; background: #750101; position:relative;z-index: 8;}
.tips{position:fixed; bottom:100px; right:30px; width:58px; height:119px; /*display:none;*/ z-index:99;}
.tips a{ background:url(../images/topback.jpg) no-repeat; width:58px; height:58px; display:block; outline:none;text-decoration: none;}
#feeds{background:#fff; width:38px; height:38px; padding:9px; margin-bottom:9px; text-align:center; display:block; border:solid 1px #b0b0b0;color:#b0b0b0;}
#along{}
#top .top_logo{width: 1002px; height: 100px; margin:0 auto;}
#top .top_logo .logo{float: left; padding-top: 20px;}
#top .top_logo .logo img{width: 225px; height: 60px;}
#top .top_nav{width: 776px; height: 100px; float: right;}
#top .top_icon{width: 776px; height: 49px; }
#top .top_bg{float: right; width:75px; height: 25px; background: url(../images/juxin.png) no-repeat; margin-top: 12px; margin-right: 10px;}
#top .top_bg a{float: left; display: block;}
#top .top_bg .weibo{ height: 17px; width: 19px; background: url(../images/weibo.png) no-repeat left top; display: block; margin: 6px;}
#top .top_bg .weixng{ height: 16px; width: 21px; background: url(../images/weixng.png) no-repeat left top; display: block; margin-top: 6px; margin-left: 10px;}
#top .top_bg .WeChat{width: 123px;height: 123px;background: url(../images/weixinhao.jpg)no-repeat left top;left: -80px;top: 24px;z-index: 3;display: none;}
#top .line{width: 100%;height: 1px;}
#top .line img{float: left;}
#top nav{width: 777px; height: 36px; margin-left: 16px; margin-top: 14px;}
#top nav ul{margin: 0 auto;}
#top nav ul li{width: 86px; height: 36px; float: left; text-align:center;line-height: 36px;}
#nav1{background: url(../images/navon.png)no-repeat center bottom;}
#top nav ul li a{text-decoration: none;color: #f5e3cb; font-size: 14px;display: block; width: 86px; height: 36px;}
#top nav ul li a:hover{ color: #f9f800;}
#top nav ul li dl{display: none; width: 86px; z-index: 10;position: absolute;}
#top nav ul li:hover dl{display: block;}
#top nav ul li.listshow dl{display: block;}
#top nav ul li dl dd{ float: none; width: 86px; margin: 0;}
#top nav ul li dl dd a{background: #fde1b0; width: 86px; color: black;}
#top nav ul li dl dd a:hover{background:#750101; color: #ffe3bd;}


/*banner图*/
#ad{width: 1200px;height: 520px; position: relative; margin: 0 auto;}
#ad ul,#ad li{position:absolute;}
#ad ul{top: 0; left: 0;}
#ad li{width: 100%; height: 650; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0;}
#ad li a{height: 650px;display: block;}
#ad .prev,#ad .next{width:40px; height:60px; margin-top:-50px; position:absolute; top:50%; z-index:6; display:none; }
#ad .prev{background: url(../images/prev.png) no-repeat; left: 0;}
#ad .next{background: url(../images/next.png) no-repeat; right: 0;}
#ad .prev_bg,#ad .next_bg{position:absolute; top:0; z-index:5; width:50%; height:520px; filter:alpha(opacity:0); opacity:0;}
#ad .prev_bg{left: 0; background: yellow;}
#ad .next_bg{right: 0; background: red;}


/*无缝滚动*/
#slideShow{width: 1044px;height: 202px; padding: 25px 20px;position: relative; margin: 0 auto;}
#slideShow #prev_bg , #slideShow #next_bg{width: 20px;height: 50px;margin-top: 86px;cursor: pointer;opacity: 0.8; filter: opacity(80);}
#slideShow #prev_bg{background:url(../images/prev_bg.png)no-repeat left top;float: left;}
#slideShow #next_bg{background: url(../images/next_bg.png)no-repeat left top;float: right;}
#slideShow_bg{float: left;margin-left: 2px;width: 994px;height: 204px; position: relative;overflow: hidden;}
#slideShow_bg ul{width: 2000px; position: absolute;overflow: hidden;padding: 0;margin: 0;}
#slideShow_bg li{float: left;padding: 0 2px; transition: all 0.9s;overflow: hidden;}
#slideShow_bg li:hover{transform: scale(1.1);}
#slideShow_bg a{display: inline-block;}
#slideShow_bg img{} 


/*main*/
.content{width: 100%;height: 420px; padding: 20px 0;}
.content_wrap{width: 1002px;margin: 0 auto;}
.content_box{width: 31%;float: left;padding: 10px 10px;}
.content_box h3 a{color: #4e5864;text-decoration: none; font-size: 18px;font-weight: normal;}
.content_box ul{width: 100%;}
.content_box ul li{height: 31px; line-height: 31px; font-size: 12px;border-bottom: 1px dashed #dddddd;}
.content_box ul li a{float: left; color: #4e5864;text-decoration: none;}
.content_box ul li span{float: right; color: #4e5864;}
.content_box ul li:hover{color: red;}
.content_box ul li:hover a{color: red;}
.content_box ul li:hover span{color: red;}
.content_viode{}
.content_viode img{width: 100%;}
.content_zhyz{width: 35%; padding: 0 20px;}
.content_sptj{width: 35%;padding: 0 20px;}
.content_WeChat{width: 15%;float: right;}
.content_WeChat img{display: block; padding-left: 10px;}
.content_WeChat p{color: #750200; font-size: 12px;text-align: center;}


/*footer*/
.footer{height: 65px; background: #750200; text-align: center; padding-top: 15px;}
.footer p{color: #fff; line-height: 26px; font-size: 8px;}
.footer p a{color: #fff; padding: 0 10px;text-decoration: none; font-size: 8px;}
