.undocontent {
  width: 600px;
  margin: 10px auto;
}
.title {
  display: flex;
  justify-content: space-between;
}
.undoitem {
  margin-top: 20px;
  background-color: #fff;
  list-style-type: none;
  font-size: 24px;
  border-radius: 5px;
  text-indent: 20px;
}
.delete {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
