#login {
	background: url("../img/bg1.jpeg");
	width: 100%;
	height: 768px;
}

#login-form {
	padding-top: 60px;
	position: fixed;
	right: 100px;
	top: 200px;
	border-radius: 10px;
	background: white;
	width: 600px;
	height: 300px;
}
